.hero {
    padding: 74px 16px 88px;

    @media (min-width: $tablet) {
        max-width: 768px;
        margin: 0 auto;
    }

    @media(min-width: $desktop) {
        max-width: 100%;
        padding-bottom: 176px;
    }

    &__bubble {
        position: absolute;
        left: calc(50% + 90px);
        top: -26px;
    }

    &__contact {
        display: inline-block;
        padding: 4px 24px;
        border-radius: 64px;
        color: #fff;
        background: $lightBlue;
        text-decoration: none;
        font-weight: bold;
        font-size: 20px;
        line-height: 40px;
    }

    &__description {
        text-align: center;

        @media(min-width: $desktop) {
            max-width: 830px;
            margin: 0 auto;
            position: relative;

            &::before,
            &::after {
                content: "";
                height: 254.88px;
                width: 83.23px;
                position: absolute;
                display: block;
                top: 0;
            }

            &::before {
                background: url('../assets/img/left-bracket.svg');
                right: 100%;
            }

            &::after {
                background: url('../assets/img/right-bracket.svg');
                left: 100%;
            }
        }
    }

    &__header {
        font-size: 26px;
        line-height: 32px;
        text-align: center;
        color: $darkText;

        @media(min-width: $desktop) {
            font-size: 32px;
            line-height: 40px;
        }
    }

    &__hello {
        display: none;


        @media(min-width: $desktop) {
            display: block;
            position: relative;
            background: $blue;
            color: #fff;
            border-radius: 16px;
            padding: 16px 19px;
            font-weight: bold;
            font-size: 32px;
            line-height: 40px;

            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 100%;
                left: 32px;
                width: 17px;
                height: 23px;
                background: url('../assets/img/Speech-cloud.svg');
            }
        }
    }

    &__image {
        box-sizing: content-box;
        height: 96px;
        width: 96px;
        border: 16px solid #F6F9FD;
        border-radius: 50%;

        @media(min-width: $desktop) {
            height: 178px;
            width: 178px;
            border: 24px solid #F6F9FD;
        }
    }

    &__image-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        @media(min-width: $desktop) {
            margin: 50px 0 48px;
        }
    }

    &__link {
        font-weight: bold;
        color: $lightBlue;
        text-decoration: none;
    }

    &__paragraph {
        font-weight: 300;
        font-size: 16px;
        line-height: 32px;
        text-align: center;
        color: $text;
        margin-bottom: 48px;

        @media(min-width: $desktop) {
            font-size: 20px;
            line-height: 40px;
            margin-bottom: 68px;
        }
    }

    &__special {
        color: $blue;
        white-space: nowrap;
    }

}