$blue: #1070CA;
$consoleDots: #464A4D;
$consoleDarkGray: #1E1E1E;
$consoleGray: #212528;
$consoleLighterText: #A3A3A3;
$consoleLink: #14B5D0;
$consoleText: #808082;
$darkText: #234361;
$lightBlue:#4DA8FF;
$lighterBlue: #DBEAF7;
$text: #425A70;

$desktop: 960px;
$tablet: 768px;